<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Treeniohjelma</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Treenit</h1>
    <table>
		<tr>
		    <th>Treenin nimi</th>
		    <th>Treenattavat lihakset</th>
		    <th>Treenin määrä viikossa</th>
		    <th>Treenin kesto tunteina</th>
		    <th>Treenin tyyppi</th>
		    
		    
    	<tr th:each = "treeni : ${treenit}">
    		<td th:text="${treeni.nimi}"></td>
    		<td th:text="${treeni.lihakset}"></td>
    		<td th:text="${treeni.kerta}"></td>
    		<td th:text="${treeni.kesto}"></td>
    		
    		<td th:text="${treeni.tyyppi.nimi}"></td>
 			<td><a th:href="@{/delete/{id}(id=${treeni.id})}">Delete</a></td>
 			<td><a th:href="@{/edit/{id}(id=${treeni.id})}">Edit</a></td>    		
    	</tr>
     </table>
	 <a href="/add">Lisää treeni</a>    	
</body>
</html>